.section1 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem 1rem;
  align-items: end;
  justify-content: end;
  height: 24rem;
}

.section1::before {
  content: "";
  position: absolute;
  top: 2rem;
  right: 0;
  width: 70%;
  height: 1rem;
  background: linear-gradient(
    90deg,
    rgba(87, 74, 138, 0) 2%,
    #574a8a 24%,
    #1ba79e 76%,
    rgba(27, 167, 158, 0) 99%
  );
  z-index: -1;
}

.section1::after {
  content: "";
  position: absolute;
  top: 43%;
  right: 0;
  width: 70%;
  height: 0.3rem;
  background: linear-gradient(
    90deg,
    rgba(87, 74, 138, 0) 2%,
    #574a8a 24%,
    #1ba79e 76%,
    rgba(27, 167, 158, 0) 99%
  );
  z-index: -1;
}

.section1__logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.section1__description {
  position: relative;
  width: 70%;
  margin-bottom: 1.5rem;
  text-align: left;
  padding-left: 1rem;

  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  font-family: "Netrua Display Light";
  line-height: 140%;
}

/* si la pantalla mide menos de 360px */
@media screen and (max-width: 360px) {
  .section1__description {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
    width: 68%;
  }
}

.section1__description b {
  font-family: "Netrua Display Light";
  font-weight: 900;
  /* colocar decgradado como color de fuente */
  background: linear-gradient(89.98deg, #574a8a 40.87%, #1ba79e 99.38%),
    linear-gradient(89.98deg, #574a8a 63.47%, #1ba79e 100.5%),
    linear-gradient(0deg, #ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section1__description.dos {
  margin-bottom: 0.5rem;
  font-family: "Gotham";
  font-size: 0.8rem;
  font-style: normal;
  color: #fff;
}

.section1__description.dos b {
  font-family: "Gotham Book";
  color: #fff;
}

.section1__title {
  position: relative;
  width: 100%;
  color: #fff;
}

.section1__title__title {
  font-family: "Netrua Display";
  font-size: 2.8rem;
  text-align: center;
  padding: 0 2rem 0;
  margin: 0;
  margin-bottom: -0.5rem;
  line-height: normal;
  background: linear-gradient(90deg, #574a8a 0%, #1ba79e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section1__title__desc {
  background: linear-gradient(89.29deg, #574a8a 0%, #1ba79e 99%);
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: end;

  font-family: "Gotham Light";
  font-size: 0.9rem;
  text-align: end;
  padding: 0 1rem 1rem;

  position: relative;
  color: #fff;
}

.section1__title__desc h3 {
  font-family: "Netrua Display";
  color: #1c2e35;
  font-size: 2.8rem;
  position: absolute;
  top: 0rem;
  right: 1rem;
  margin: 0;
  line-height: normal;
}

.section1__title__desc span {
  font-family: "Gotham Book";
  color: #fff;
}

@media screen and (min-width: 640px) {
  .section1 {
    height: 30rem;
    align-items: end;
    justify-content: center;
  }

  .section1::before {
    top: 5rem;
    right: 0;
    width: 70%;
  }

  .section1::after {
    display: none;
  }

  .section1__logo {
    top: 4rem;
    right: 2rem;
    height: 120%;
    z-index: 5;
  }

  .section1__description {
    width: 50%;
  }

  .section1__title {
    margin-top: -3rem;
  }

  .section1__title__title {
    font-size: 5rem;
    text-align: end;
    padding: 0 2rem 0;
  }

  .section1__title__desc div {
    max-width: 70%;
    position: absolute;
    right: 2rem;
  }

  .section1__title__desc h3 {
    font-size: 5rem;
  }
}

@media screen and (min-width: 920px) {
  .section1__logo {
    top: 2rem;
    right: 2rem;
    height: 150%;
    z-index: 5;
  }
}
